$primary_color_d: #54436D;
$primary_color_l: #A89AC1;
$secondary_color_d: #B35136;
$secondary_color_l: #E17B65;
$tertiary_color_l: #E9E5D9;
$tertiary_color_d: #858585;


h1, h2 {
  line-height: 1.3em;
  color: $secondary_color_l;
}

.c1l, .c1d, .c2l, .c2d {
  padding: .2em .4em;
  border-radius: 3pt;
}

.c1l { background: $primary_color_l; }
.c1d { background: $primary_color_d; color: #ffffffcc;}
.c2l { background: $secondary_color_l; }
.c2d { background: $secondary_color_d; color: #ffffffcc; }

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
  color: $secondary_color_l !important;
}

.book .book-summary ul.summary li a {
  color: $tertiary_color_l !important;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: $primary_color_l !important;
}


.book .book-summary ul.summary {
  background: #333333 !important;
}


// ruler at page bottom 

hr {
  height: 1px !important;
}

// beware and think boxes

.beware, .think {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
}

.beware pre, .think pre { 
  background: #00000050 !important;
}

.beware {
  background-image: url("img/beware.svg");
  color: $secondary_color_d;
  transition-duration: 0.2s;
  background-color: $secondary_color_l;
  border: solid 3px $secondary_color_d;
}

.beware code {
  //background: $primary_color_d !important;
  color: $secondary_color_l !important;
}

.think {
  background-image: url("img/think.svg");
  color: $tertiary_color_d;
  background-color: $tertiary_color_l;
  border: solid 3px $tertiary_color_d;
}

.think code {
  //background: $tertiary_color_d !important;
  color: $tertiary_color_l !important;
}

.beware blockquote {
  color: #FFFFFF !important;
  border-left: 4px solid $secondary_color_d !important;
}

.book .book-body .page-wrapper .page-inner section.normal .beware a {
  color: #FFFFFF !important;
}

.think blockquote {
  border-left:  4px solid$tertiary_color_d !important;
} 

/* code folding buttons ----------- */

.button {
   color: #ccc;
}

.pull-right {
   color: #ccc;
}

.dropdown-toggle {
   color: #000000cc;
}

.code-folding-btn { margin-bottom: 4px; }
.row { display: flex; }
.collapse { display: none; }
.in { display:block }
.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 12;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 4px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #eee;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu a {
  color: #000;
}

.dropdown-menu a:hover {
  color: $primary_color_d;
}


.checktrue, .demoslider {
  position: relative; 
  display: block;
  margin: 5px 0 5px 10px;
  width: 49px; 
  height: 0px;
  border-radius: 12px;
  transition: 350ms;
  background: linear-gradient(#d7d7d7, #C6C6C6, #BDBDBD); 
  box-shadow: inset 0 0 0.2em 0.02em rgba(0, 0, 0, 0.5);
}

.checktrue {
  cursor: pointer;
}

.checktrue::after, .demonob {
  position: absolute; content:'';
  width: 6px; 
  height: 6px;
  top: 0px; 
  left: 5px;
  border-radius: 50%;
  transition: 250ms ease-in-out;
  background: #ECECEC;/*linear-gradient(#555 10%,#444);*/ 
  box-shadow:
    inset 0 0.05em 0.08em -0.01em rgba(0, 0, 0, 0.5);;
}

.checktrue::after, .demonob {
  top: 0px; 
  left: 5px;
}

.demonob {
  top: 0px; 
  left: -2px;
}

.checktrue::before, .demobg {
  position: absolute; 
  content:'';
  width: 34px; 
  height: 4px;
  top: 1px; 
  left: 7px;
  border-radius: 15px;
  transition: 250ms ease-in-out;
  background:  #C1C1C1;
  box-shadow: inset 0 0 0.2em 0.02em rgba(0, 0, 0, 0.5); 
}

input:checked + .checktrue::before {
  background: $secondary_color_l;
}

input:checked + .checktrue::after {
left: 35px;
}

input {
  visibility: hidden;
}

.r-code-collapse {
  transition: 250ms ease-in-out;
}


.bg-save {
  background-size: 40px !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 15px) 15px !important;
  background-image: url("img/save.svg") !important;
  background-color: #DDDDDD !important;
}

.bg-save code {
  background-color: #DDDDDD !important;
}

/* link anchors on section titles */
a.anchor {
  margin-left: 0px;
  padding-right: 3px;
  display:inline-block;
  width: 30px;
  height: 30px;
  background-image: url(img/anchor.svg) !important;
  background-repeat: no-repeat !important;
  background-size: 20px 20px !important;
  background-position: center bottom !important;
  opacity: 0;
}

.hasAnchor:hover a.anchor, a.anchor:hover {
  opacity: 0.6;
}

@media (max-width: 1144px) { /* dont show anchor link on small screens */
  .hasAnchor:hover a.anchor {
visibility: hidden;
  }
}


/*-------- zoom on images ---------*/

img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
img:hover {
    opacity: 0.95;
  }
  
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 15;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #111111;
    /* Fallback color */
    background-color: #111111ee;
    /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 900px;
    max-height: 100%;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 900px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content,
  #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {
      transform: scale(0)
    }
    to {
      transform: scale(1)
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.25s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 900px) {
    .modal-content {
      width: 100%;
    }
  }
  
/*---- zoom on images done ----*/
.showopt {
  background-color: #004c93;
  color: #FFFFFF; 
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

pre.plot {
  background-color: white !important;
}
// zoom on images done -----------